MQTT_MODE='metawork'
# MQTT_SERVER='127.0.0.1'
MQTT_SERVER='sora2.uclab.jp'
ROBOT_UUID='ur-real'
ROBOT_MODEL='ur-real'
MQTT_MANAGE_TOPIC='mgr'
MQTT_CTRL_TOPIC='control'
MQTT_ROBOT_STATE_TOPIC='robot'
MQTT_FORMAT='UR-Control-IK'
ROBOT_IP='10.5.5.102'
SAVE='true'
MOVE='true'
